.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photo {
  text-align: center;
  margin: 10px;
  position: relative;
  opacity: 1;
  transition: 0.5s ease;
}

.photo:hover {
  opacity: 0.6;
}

.photo .zoom-icon-div {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.photo i.fa-search-plus {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo .zoom-icon-div:hover {
  opacity: 1;
}

.photo .photo-author {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 340px) {
  .photo {
    width: 90%;
  }

  .photo img {
    width: 100%;
  }
}
