.filter-nav-bar {
}

input.input-author {
  border: none;
  border-bottom: 0.5px solid #aaa;
  width: 20%;
  margin-bottom: 10px;
  font-family: inherit;
  padding-left: 5px;
}

input.input-author:focus,
.page-size-select select:focus {
  outline: none;
  border-bottom: 0.5px solid #777;
}

.fa-search {
  color: #aaa;
  font-size: 14px;
}

.page-size-select {
  float: right;
  color: #777;
  font-family: inherit;
}

.page-size-select select {
  border: none;
  border-bottom: 0.5px solid #aaa;
  font-family: inherit;
  font-size: 0.8em;
}
