.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

input.input-author {
  border: none;
  border-bottom: 0.5px solid #aaa;
  width: 20%;
  margin-bottom: 10px;
  font-family: inherit;
  padding-left: 5px;
}

input.input-author:focus {
  outline: none;
  border-bottom: 0.5px solid #777;
}

.fa-search {
  color: #aaa;
  font-size: 14px;
}
.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photo {
  text-align: center;
  margin: 10px;
}

.photo .photo-author {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
