#root {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

input.input-author {
  border: none;
  border-bottom: 0.5px solid #aaa;
  width: 20%;
  margin-bottom: 10px;
  font-family: inherit;
  padding-left: 5px;
}

input.input-author:focus {
  outline: none;
  border-bottom: 0.5px solid #777;
}

.fa-search {
  color: #aaa;
  font-size: 14px;
}
.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photo {
  text-align: center;
  margin: 10px;
}

.photo .photo-author {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.selected-photo {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image: url("/img/spinner.png");
  background-repeat: no-repeat;
  background-position: center; */
}

.selected-photo i {
  position: absolute;
  z-index: -1;
  left: 50%;
}

.selected-photo img {
  max-width: 100%;
  max-height: 95vh;
}

@media (max-width: 340px) {
  .photo {
    width: 90%;
  }

  .photo img {
    width: 100%;
  }
}
